// sass imports here so I dont have to clutter app.js
@use 'vars.scss';
@import './FancyImage.scss';
@import './Hero.scss';
@import './Slider.scss';
@import './Navbar.scss';
@import './Band1.scss';

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,700;1,200&display=swap');

html {
  font-size: 0.0595238095238vw;
  font-family: 'Source Sans 3', sans-serif;
  color: vars.$color-dark;
}
button {
  font-family: 'Source Sans 3', sans-serif;
}
body {
  font-size: 16rem;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100%;
}

.fc-dark {
  color: vars.$color-dark;
}
.fc-light {
  color: vars.$color-light;
}
.fc-grey {
  color: vars.$color-grey;
}
.fc-white {
  color: vars.$color-white;
}
.fc-primary {
  color: vars.$color-primary;
}

.bgc-primary {
  background-color: vars.$color-primary;
}

.fw-extra-light {
  font-weight: 200;
}
.fw-light {
  font-weight: 300;
}
.fw-regular {
  font-weight: 400;
}
.fw-bold {
  font-weight: 700;
}
.fw-light {
  font-weight: 300;
}
.fw-lighter {
  font-weight: 200;
}

.fs-small {
  font-size: 14rem;
}
.fs-regular {
  font-size: 16rem;
}
.fs-big {
  font-size: 32rem;
}

.subheader {
  font-weight: 700;
  font-size: 14rem;
  color: vars.$color-light;
  text-transform: uppercase;
  margin-bottom: 14rem;
  letter-spacing: 1rem;
  line-height: 20rem;
}
.header {
  font-weight: 700;
  font-size: 32rem;
  color: vars.$color-dark;
  margin-bottom: 10rem;
  line-height: 44rem;
}
.body {
  font-weight: 400;
  font-size: 16rem;
  color: vars.$color-light;
  margin-bottom: 24rem;
  line-height: 26rem;
}
button {
  flex-grow: 0;
  font-size: 16rem;
  font-weight: 700;
  line-height: 40rem;
  display: flex;
  align-items: center;
  gap: 13rem;
  padding: 3rem 19rem;
  background-color: vars.$color-primary;
  color: vars.$color-white;
  border-radius: 10rem;
  outline: none;
  cursor: pointer;
  text-transform: capitalize;
  transition: gap 220ms, background-color 220ms, color 220ms;
  user-select: none;
  border: thin vars.$color-primary solid;
  svg {
    fill: vars.$color-white;
    transition: fill 220ms;
  }
  &:hover {
    gap: 16rem;
    background-color: vars.$color-white;
    border: thin vars.$color-primary solid;
    color: vars.$color-primary;
    svg {
      fill: vars.$color-primary;
    }
  }
}

button.secondary {
  font-weight: 200;
  font-style: italic;
  background-color: #0000;
  padding: 0rem;
  color: vars.$color-white;
  border-radius: 0rem;
  transition: gap 220ms, border 220ms, color 220ms;
  border: none;
  border-bottom: thin solid #0000;
  flex: none;
  order: 4;
  flex-grow: 0;
  svg {
    fill: vars.$color-white;
    transition: fill 220ms;
  }
  &:hover {
    gap: 16rem;
    // background-color: vars.$color-white;
    // color: vars.$color-primary;
    border: none;
    border-bottom: thin solid vars.$color-white;
    svg {
      fill: vars.$color-white;
    }
  }
}

div.divider {
  height: 1rem;
  width: 100%;
  background-color: vars.$color-white;
}
