// sass imports here so I dont have to clutter app.js
@use 'vars.scss';
@import './FancyImage.scss';
@import './Hero.scss';
@import './Slider.scss';

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;700;900&display=swap');

html {
  font-size: 0.0595238095238vw;
  font-family: 'Nunito Sans', sans-serif;
}
body {
  font-size: 16rem;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100%;
}

.fc-dark {
  color: #263640;
}
.fc-light {
  color: #929a9f;
}
.fc-white {
  color: #ffffff;
}
.fc-primary {
  color: #ff9900;
}
.bgc-primary {
  background-color: #ff9900;
}
