// sass imports here so I dont have to clutter app.js

@import './FancyImage.scss';

html {
  font-size: 0.0595238095238vw;
}
body {
  font-size: 16rem;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100%;
}

.owo {
  position: absolute;
  left: 10vh;
  top: 120vh;
  width: 500px;
  height: 101vh;
}
