@use 'vars.scss';

.band2 {
  padding: 0 232rem 160rem 232rem;
  position: relative;

  >.header{
    margin-bottom: 70rem;
    >.top{
      margin-bottom: 15rem;
    }
    >.bottom{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      >.body{
        width: 800rem;
      }
    }
  }

  >.content{
    >.left{
      .fancy-image{
        border-radius: 10rem;
      }
      >.col1>.img1{
        width: 279rem;
height: 380rem;
      }
    }
  }

}
