@use 'vars.scss';

.band2 {
  padding: 0 232rem 370rem 232rem;
  position: relative;
  > .content {
    padding: 98rem 417rem 106rem 98rem;
    background-color: vars.$color-dark;
    color: vars.$color-white !important;
    width: 494rem;
    > .inner {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 24rem;
    }
  }
  > .fancy-image {
    width: 488rem;
    height: 662rem;
    position: absolute;
    left: 960rem;
    top: 98rem;
  }

  .header,
  .body {
    color: vars.$color-white !important;
  }
  .body {
    width: 422rem;
  }
}
