.fancy-image {
  display: inline-flex;
  box-sizing: content-box;
  position: relative;
  overflow: hidden;
  > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  > .background {
    background-color: #5b7382;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
