@use 'vars.scss';

.hero {
  padding: 190rem 230rem;
  display: flex;
  justify-content: space-between;
  > .slider {
    width: 593rem;
    height: 750rem;
  }
  > .left {
    margin-top: 103rem;
    width: 416rem;
  }
}
