.navbar {
  padding: 60rem 232rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;

  .nav-item {
    padding: 4rem;
    cursor: pointer;
    border-bottom: thick solid vars.$color-white;
    transition: color 220ms, border 220ms;
    display: flex;
    align-items: center;
    gap: 14rem;
    path {
      fill: vars.$color-dark;
    }
    &:hover {
      color: vars.$color-primary;
      border-bottom: thick solid vars.$color-primary-light;
      path {
        fill: vars.$color-primary;
      }
    }
    &.selected {
      border-bottom: thick solid vars.$color-primary;
      color: vars.$color-primary;
      path {
        fill: vars.$color-primary;
      }
    }
  }

  > .inner {
    position: relative;
    > * {
      width: 100%;
      display: flex;
      align-items: center;
      position: absolute;
      pointer-events: none;
      top: 0;
      left: 0;
      gap: 40rem;
      > * {
        pointer-events: all;
      }
    }
    > .left {
      justify-content: flex-start;
    }
    > .middle {
      justify-content: center;
    }
    > .right {
      justify-content: flex-end;
    }
  }
}
